<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".moudle_search.activity.StatisticsActivity" />
        <activity android:name=".moudle_search.activity.StatisticsMoreActivity" />
        <activity android:name=".moudle_search.activity.SerachDetialActivity" />
        <activity android:name=".moudle_search.activity.SerachSerachActivity" />
        <activity android:name=".module_login.activity.LoginActivity" />
        <activity android:name=".module_mine.activity.AboutUsActivity" />
        <activity android:name=".module_mine.activity.AuthorActivity" />
        <activity android:name=".module_mine.activity.FeedbackActivity" />
        <activity android:name=".module_mine.activity.GameActivity" />
        <activity android:name=".module_mine.activity.SettingActivity" />
        <activity android:name=".moudle_search.activity.SerachDetialCategoryActivity" />
        <activity
            android:name=".module_login.activity.RegisterActivity"
            android:label="@string/title_activity_register" />
        <activity android:name=".moudle_search.activity.StatisticsHeadPhotoActivity" />
        <activity android:name=".moudle_search.activity.ProgramMainActivity" />
        <activity android:name=".moudle_search.activity.PublishActivity" />
        <activity android:name=".moudle_search.activity.ReadingActivity" />
        <activity android:name=".module_home.activity.RankingActivity" />
        <activity android:name=".module_home.activity.SpecialActivity" />
        <activity android:name=".module_home.activity.SpecialDetailActivity" />
        <activity android:name=".module_home.activity.AllCateLogActivity" />
        <activity android:name=".module_home.activity.AnimationActivity" />
        <activity android:name=".module_home.activity.SearchActivity" />
        <activity android:name=".module_home.activity.SearchResultActivity" />
        <activity android:name=".module_home.activity.ComicContentActivity"></activity>
        <provider
            android:name=".db.MyContentProvider"
            android:authorities="com.example.u17.db.MyContentProvider" />
    </application>

</manifest>